.btn-search {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 100px; 
    border-radius: 20px;
    color: 2px solid darkcyan;
    font-weight: 900;
    background-color: mintcream;
}
.btn-add {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    background-color: darkturquoise;
    color: mintcream;
    border-radius: 50%;
    border: none
}
.btn-acnt {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 150px;
    color: mintcream;
    border: 2px solid black;
    background-color: blue;
    box-shadow: 3px 3px black;
}